@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300&display=swap');

.home {
    background-color: white;
}

.img-home {
    border-radius: 5%;
}

.titulo {
    color: #ff0064;
    font-family: 'Roboto', cursive;
    font-weight: 800 !important;
}

.botaoHome {
    border-color: #ff0064 !important;
    background-color: white !important;
    border-width: 3px !important;
    color: #ff0064 !important;
    padding: 12px 50px !important;
    border-radius: 25px !important;
    transition-duration: 0.4s;
}

.texto-home {
    color: rgba(31, 25, 25, 0.815);
    font-weight: bold !important;
}

.react-player {
    position: cover !important;
    width: 640px !important;
    height: 340px !important;
}

.texto-titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
}

.texto-titulo1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800 !important;
    font-size: 40px !important;

}

.fundo-rede {
    background-image: url("https://imgur.com/DUiYgdw") !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.botaoHome:hover {
    border-color: #ff0064 !important;
    background-color: #ff0064 !important;
    border-width: 3px !important;
    color: white !important;
}

.transitionSizeHome {
    transition: transform 0.5s;
}

.transitionSizeHome:hover {
    transform: scale(1.1);
}