.cardLista {
    margin-bottom: 16px;
    justify-content: center!important;
    width: 50% !important;
}

.sizeLista {
    max-height: 100% !important;
    max-width: 100% !important;
    object-fit: cover !important;
}

.menu-publi{
    text-decoration: none;
    color: black;
}

.fotoPerfil {
    max-height: 100% !important;
    max-width: 100% !important;
    object-fit: cover !important;
}